/*body*/
body {
  background-color:#1E2730;
  font-family: monospace;
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

/*drag div*/
#dragdiv {
  position: absolute;
  z-index: 9;
  background-color: #1B1C21;
  border: 1px solid #2d3d2e;
  text-align: center;
  color: #B2A674;
}

#dragdivheader {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: move;
  z-index: 10;
  background-color: #2d3d2e;
  color: #B2A674;
}

/*drag div*/
#dragdiv2 {
    position: absolute;
    z-index: 9;
    background-color: #1B1C21;
    border: 1px solid #2d3d2e;
    text-align: center;
    color: #B2A674;
  }
  
  #dragdivheader2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: move;
    z-index: 10;
    background-color: #2d3d2e;
    color: #B2A674;
  }

/*areas*/
.mainArea{
    float: right;
    width: 90%;
    padding-top: 10px;
}

.sideBar{
    float: left;
    width: 10%;
}

/*1 line editable lock*/

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

/*header*/
header{
    background-color: #354656;
    margin: 0%;
    width: 100%;
}

nav{
    padding: 2px 2px 2px 10px;
    color: #B2A674;
    font-family: Serif;
}

/*grid sidebar*/
.sideGrid {
    display: inline-grid;
    padding: 2%;
  }

.iconText{
    margin: auto; 
    text-align: center;
    color: gray;
}

.desktopIcon{
    width: 70px;
    height: 70px;
    padding-bottom: 15px;
}

.iconHoverOutline:hover {
    background-color: rgba(65, 65, 65, 0.233);
    outline-style: inset;
    outline-width: 1px;
    outline-color: rgba(85, 85, 85, 0.233);
  }

.iconHoverOutline{
    padding: 4px;
}